body {
	font-family: Helvetica;
}

.navigation {
padding: 10px;
display: flex;
align-items: center;

}
.menu-link {
	font-size: 18px;
	
}
.retro {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	z-index: 9000;
}

.retro img {
	width: 30px;

}
.retro span {
	color: white;
	font-size: 30px;
}

/*questions section*/

.smiley-pocetna img {
	width: 60px;
}

.smiley-posledna {
	width: 100px;
}

.questions {
	padding-top: 15vh;
	padding-bottom: 11vh;
}
.questions1 {
	padding-top: 8vh;
	padding-bottom: 15vh;
}
.questions-pocetna {
	padding-top: 11vh;
	padding-bottom: 3.5vh;
}
.questions-posledna {
	padding-top: 12vh;
	padding-bottom: 12vh;
}

.question {
	margin-bottom: 8rem;
}
.question1 {
	margin-bottom: 4rem;
}
.white {
	color: white;
}
.dimgrey {
	color: dimgrey;
}
.grey {
	color: grey;
}
.lgrey {
	color: lightgrey;
}
.red {
	color: #CB3037;
}
.light-red {
	color: #F93131;
}
.orange {
	color: #CD8E2E;
}
.olive {
	color: #9BA541;
}
.green {
	color: #58D970;
}
.bold {
	font-weight: bold;
}

.message {
	font-weight: bold;
	font-size: 20px;
}
#poraka{
	display: block;
	margin-top: 15px;
    font-weight: 200 !important;

}

.button-select {
	border-radius: 2px;
	padding: 15px 20px;
	margin: 40px 5px;
	color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	text-decoration: none;
}

.button-select:hover {
	color: white;
	text-decoration: none;
}

#green-btn {
	background-color: #00E67E;
}

#grey-btn {
	background-color: grey;
}

.rezultat {
	font-size: 20px;
}
.register {
	background-color: red;
	padding: 10px 80px;
	border-radius: 2px;
}

.lista-smiley {
	display: flex;
	justify-content: space-around;
}

/*sign up starts*/

.sign-up {
	font-size: 4rem;
}

.contact-form >* {
	padding: 20px;
	margin-top: 10px;
}
#width1 {
	width: 49.5%;
	display: inline;
	}
#width2 {
	width: 49.5%;
	display: inline;
	}


/*footer*/

.footer {
	background-color: #EDEDED;
	padding: 15px 0px 5px 0px;
	font-weight: bold;
	
}

.footer a {
	text-decoration: none;	
	color: black;
}

.footer a:hover  {
	color: dimgrey;
    text-decoration: none;

}

/*slider*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    -webkit-transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/smiley1.png);
  background-size: contain;
  cursor: pointer;
  position: relative;
  top:-50px;
  z-index: 10;
}
.slider::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #CB3037, #CB3037 ), grey;
  background-size: 10% 100%;
  background-repeat: no-repeat;

}

.slider::-moz-range-thumb {
 
  width: 40px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(images/smiley1.png);
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top:-30px;
  z-index: 10;
}

.slider::-moz-range-progress{
	background-color:#CB3037;
    height: 5px;

}

.slider::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #CB3037, #CB3037 ), grey;
  background-repeat: no-repeat;

}

/*slider red*/

.slider-red {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    -webkit-transition: .2s;
    
}
.slider-red::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/smiley2.png);
  background-size: contain;
  cursor: pointer;
  position: relative;
  top:-50px;
  z-index: 10;
}
.slider-red::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #F93131, #F93131 ), grey;
  background-repeat: no-repeat;

}

.slider-red::-moz-range-thumb {
    
  width: 40px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(images/smiley2.png);
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top:-30px;
  z-index: 10;
}

.slider-red::-moz-range-progress{
	background-color: #F93131;
    height: 5px;

}


/*slider orange*/

.slider-orange {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
   -webkit-transition: .2s;
   
}
.slider-orange::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/smiley3.png);
  background-size: contain;
  cursor: pointer;
  position: relative;
  top:-50px;
  z-index: 10;
}

.slider-orange::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #CD8E2E, #CD8E2E ), grey;
  background-repeat: no-repeat;

}

.slider-orange::-moz-range-thumb {
    
  width: 40px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(images/smiley3.png);
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top:-30px;
  z-index: 10;
}

.slider-orange::-moz-range-progress{
	background-color: #CD8E2E;
    height: 5px;

}

/*slider olive*/
.slider-olive {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    -webkit-transition: .2s;
   
}

.slider-olive::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/smiley4.png);
  background-size: contain;
  cursor: pointer;
  position: relative;
  top:-50px;
  z-index: 10;
}

.slider-olive::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #9BA541, #9BA541 ), grey;
  background-repeat: no-repeat;

}

.slider-olive::-moz-range-thumb {
    
  width: 40px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(images/smiley4.png);
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: relative;
  top:-30px;
  z-index: 10;
}
.slider-olive::-moz-range-progress{
	background-color: #9BA541;
    height: 5px;

}

/*slider green*/
.slider-green {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    -webkit-transition: .2s;
   
}
.slider-green::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/smiley5.png);
  background-size: contain;
  cursor: pointer;
  position: relative;
  top:-50px;
  z-index: 10;
}

.slider-green::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #58D970, #58D970 ), grey;
  background-repeat: no-repeat;

}

.slider-green::-moz-range-thumb {
    
  width: 40px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(images/smiley5.png);
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top:-30px;
  z-index: 10;
}

.slider-green::-moz-range-progress{
	background-color: #58D970;
    height: 5px;
}

/*media queries*/

@media only screen and (min-width: 1024px){

 .content {
  min-height: calc(100vh - 8vh);
}

}

@media only screen and (max-width: 1024px){
.questions {
	padding-top: 13vh;
	padding-bottom: 10vh;
}
.questions1 {
    padding-top: 5vh;
}
.question1 {
	margin-bottom: 0rem;
}
.question {
	font-size: 20px;
}
.questions-posledna {
	padding-top: 13vh;
}
.smiley-posledna {
	width: 80px;
}
.content {
  min-height: calc(100vh - 8vh);
}

}


@media only screen and (max-width: 768px){
.navigation {
		display: block;
}
.menu-link {
	background-color:#222222;
}	
.questions {
	padding-top: 13vh;
	padding-bottom: 10vh;
}
.questions-pocetna {
	padding-top: 12vh;
	padding-bottom: 5vh;

}
.questions h3 {
	font-size: 20px;
}
#width1 {
	width: 100%;
}
#width2 {
	width: 100%;
}
.smiley-posledna {
	width: 80px;
}
.smiley-pocetna img {
	width: 55px;
}
.questions-posledna {
	padding-top: 13vh;
}
.contact-form >* {
	padding: 18px;
}
.questions1 {
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.sign-up {
	font-size: 30px;
}
}
@media only screen and (max-width: 425px){
.questions {
	padding-top: 11vh;
	padding-bottom: 5vh;
}
.questions-pocetna {
	padding-top: 10vh;

}
.questions-pocetna h1{
	font-size: 30px;
}
.questions-posledna {
	padding-top: 13vh;
}
.questions1 {
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.question1 {
	margin-bottom: 2rem;
}
.questions h3 {
	font-size: 30px;
}
.menu-link {
	font-size: 15px;
}
.smiley-pocetna img {
	width: 50px;
}
.smiley-posledna {
	width: 70px;
}
.sign-up {
	font-size: 23px;
}
.contact-form >* {
	padding: 18px;
}

}

@media only  screen and (max-width: 375px){
.questions {
	padding-top: 13vh;
	padding-bottom: 5vh;
}
.questions-pocetna h1{
	font-size: 28px;
}
.questions-pocetna h3 {
	font-size: 20px;
}
#poraka, .questions-posledna h4 {
	font-size: 15px;
}
.message {
	font-size: 16px;
}
.questions-posledna {
	padding-top: 13vh;
}
.smiley-posledna {
	width: 70px;
}
.smiley-pocetna img {
	width: 50px;
}
.text-posledna {
	font-size: 13px;
}
.sign-up {
	font-size: 22px;
}
.questions h3 {
	font-size: 25px;
}
.questions1 {
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contact-form >* {
	padding: 18px;
}
}

@media only  screen and (max-width: 360px){
.questions h3 {
	font-size: 24px;
}
.questions-pocetna h1{
	font-size: 28px;
}
.questions-pocetna h3 {
	font-size: 20px;
}
#poraka, .questions-posledna h4 {
	font-size: 15px;
}
.message {
	font-size: 16px;
}
.text-posledna {
	font-size: 12px;
}
.questions-posledna {
	padding-top: 13vh;
}
.sign-up {
	font-size: 22px;
}
.questions1 {
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contact-form >* {
	padding: 18px;
}
}

@media only  screen and (max-width: 320px){
	.retro span {
	font-size: 25px;
}
.questions-pocetna h1{
	font-size: 28px;
}
.questions-pocetna h3 {
	font-size: 20px;
}
.questions {
	padding-top: 12vh;
	padding-bottom: 5vh;
}
.questions1 {
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.contact-form >* {
	padding: 15px;
}
.message {
	font-size: 16px;
}
.menu-link, #poraka, .questions-posledna h4 {
	font-size: 15px;
}
.questions h3, .sign-up  {
	font-size: 22px;
}
.smiley-posledna {
	width: 60px;
}
.smiley-pocetna img {
	width: 35px;
	margin-top: 5px;
}
.text-posledna {
	font-size: 11px;
}

}


/*ANIMATIONS*/

.animate {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  50% {
    -webkit-transform: scale3d(4.05, 4.05, 4.05);
    transform: scale3d(4.15, 4.15, 4.15);
  }

  to {
    -webkit-transform: scale3d(6, 6, 6);
    transform: scale3d(6, 6, 6);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}




  

 


 
